doctype html
html
    include ../template/header.pug
    body
        div.jumbotron.centered
            div.container
                i.fas.fa-key.fa-6x
                h1.display-3 Secrets
                p.lead Don't keep your secrets to yourself !! Share them anonymolously!!
                hr
                a(href="/register",class="btn btn-light btn-lg",role="button") Register
                a(href="/login",class="btn btn-dark btn-lg",role="button") Login


    include ../template/footer.pug
    
    